.noToken {
    background-color: white;
}

.player {
    padding-left: 30px;
    padding-right: 30px;
    font-size: xx-large;
    text-shadow: blue 1px 0 10px;

}

.playerRed {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    background-color: rgb(255, 160, 160);
    color: red;
}

.players {
    display: flex;
}

.playerYello {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    background-color: lightyellow;
    color: yellow;
}

.redToken {
    background-color: red;
}

.victories {
    margin-top: 0px;
    margin-bottom: opx;
    margin-block-end: 0.5em;
    padding: 0px;
    font-size: large;
}

.yelloToken {
    background-color: yellow;
}

table.board {
    width: 100%;
    background-color: blue;
    border-collapse: collapse;
    border-width: 4px;
    border-color: green;
    border-style: solid;
    color: #000000;
}

table.board td,
table.board th {
    border-width: 6px;
    border-color: blue;
    border-style: solid;
    padding: 3px;
}

table.board thead {
    background-color: #ffcc00;
}